@import '../../styles/settings.scss';

.nav {
  display: flex;
  justify-content: space-between;
  background-color: darken($color-dark,3%);
}

.list {
  display: flex;
  list-style: none;

  .link {
    padding: 10px 20px;
  }
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
  }

.logo {
  margin: auto 0;
  i {
    font-size: 24px;
    margin-left: 70px;
  }
}